@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('../images/HelveticaNowDisplay.eot');
  /* IE9 Compat Modes */
  src: url('../images/HelveticaNowDisplay.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../images/HelveticaNowDisplay.woff') format('woff'), /* Pretty Modern Browsers */ url('../images/HelveticaNowDisplay.ttf') format('truetype'), /* Safari, Android, iOS */ url('../images/HelveticaNowDisplay.svg') format('svg');
  /* Legacy iOS */
}
body {
  font-family: 'HelveticaNowDisplay', 'gothic', 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif, '\5FAE\8F6F\96C5\9ED1';
}
.body {
  margin-bottom: 150px;
}
.css3-animate {
  transition: all 0.2s linear;
  /* Firefox 4 */
  -moz-transition: all 0.2s linear;
  /* Safari and Chrome */
  -webkit-transition: all 0.2s linear;
  /* Opera */
  -o-transition: all 0.2s linear;
}
#nav .navbar-nav > li {
  position: relative;
}
#nav .navbar-nav > li .childs {
  position: absolute;
  width: 100%;
  top: 110%;
  visibility: hidden;
  transition: all 0.2s linear;
  /* Firefox 4 */
  -moz-transition: all 0.2s linear;
  /* Safari and Chrome */
  -webkit-transition: all 0.2s linear;
  /* Opera */
  -o-transition: all 0.2s linear;
  opacity: 0;
  transform: translateY(-10%);
}
#nav .navbar-nav > li .childs a {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
}
#nav .navbar-nav > li .childs a:after {
  display: none;
}
#nav .navbar-nav > li .childs a:hover {
  text-decoration: line-through;
}
@media (min-width: 768px) {
  #nav .navbar-nav > li:hover .childs {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
  }
  #nav .navbar-nav > li:hover > a:after {
    transform: translate(-50%, 0%);
    opacity: 1;
  }
}
.more-box {
  text-align: center;
  padding-top: 100px;
}
.more-box a {
  width: 275px;
  line-height: 60px;
  border: 1px solid #272624;
  border-radius: 60px;
  display: inline-block;
  font-size: 18px;
  transition: all 0.2s linear;
  /* Firefox 4 */
  -moz-transition: all 0.2s linear;
  /* Safari and Chrome */
  -webkit-transition: all 0.2s linear;
  /* Opera */
  -o-transition: all 0.2s linear;
}
.more-box a:hover {
  background-color: #272624;
  color: #fff !important;
}
.index-news {
  padding-top: 150px;
  padding-bottom: 230px;
  max-width: 1180px;
  margin: 0 auto;
}
.index-news .title {
  font-size: 18px;
  padding-bottom: 15px;
  color: #898989;
  line-height: 32px;
}
.index-news .flex {
  display: flex;
  justify-content: space-between;
}
.index-news .list a {
  color: #898989 !important;
  font-size: 14px;
  transition: all 0.3s ease;
  display: block;
  max-width: 100%;
  line-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.index-news .list a:hover {
  color: #272624 !important;
}
#studio .text-3 .website {
  text-decoration: underline;
}
#studio .text-3 .website:hover {
  color: blue !important;
}
.design-news {
  padding-top: 120px;
}
.design-news .section-title {
  text-align: center;
  padding-bottom: 70px;
}
.design-news .section-title .en {
  font-size: 59px;
}
.design-news .section-title .cn {
  font-size: 32px;
}
.design-news .title {
  font-size: 16px;
  color: #272624;
  margin-bottom: 10px;
}
.design-news .sub-title {
  font-size: 13px;
  color: #272624;
  margin-bottom: 15px;
}
.design-news .list a {
  display: inline-block;
  width: 32%;
  line-height: 1;
  margin-bottom: 10px;
  color: #B7B7B7 !important;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.design-news .list a:nth-child(3n+1),
.design-news .list a:nth-child(3n+2) {
  border-right: 1px solid #B7B7B7;
  padding-right: 10px;
}
.design-news .list a:nth-child(3n+2),
.design-news .list a:nth-child(3n+3) {
  padding-left: 10px;
}
#footer3 {
  background-color: #2E2E30;
  padding-top: 40px;
}
#footer3 .back-to-top img {
  cursor: pointer;
}
#footer3 .office {
  color: #6A6A6A;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#footer3 .office .box .border-bottom {
  border-bottom: 1px solid #6A6A6A;
}
#footer3 .office .box .tel {
  margin-top: 10px;
}
#footer3 .office .box .title {
  font-size: 13px;
  border-bottom: 1px solid #6A6A6A;
  padding-bottom: 10px;
}
#footer3 .office .box .address {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
}
#footer3 .office .qrcodes {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  width: 190px;
  flex-shrink: 0;
}
#footer3 .office .qrcodes img {
  width: 45%;
}
#footer3 .office .back-to-top {
  flex-shrink: 0;
}
@media (max-width: 992px) {
  #footer3 .office {
    margin: 30px 0;
  }
}
#footer3 .copyright {
  color: #fff;
  border-top: 1px solid #6A6A6A;
  padding: 5px 0 25px 0;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
#footer3 .copyright .text {
  color: #6A6A6A;
  font-size: 12px;
}
#footer3 .copyright .links {
  color: #6A6A6A;
  font-size: 12px;
}
#footer3 .copyright .links .item {
  display: inline-block;
  margin-left: 10px;
}
#footer3 .copyright .links .item:hover {
  color: #fff !important;
}
#contact3 .office {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
#contact3 .office .name {
  font-size: 32px;
  font-weight: bold;
  width: 50%;
  border-right: 1px solid #333333;
  line-height: 1;
}
#contact3 .office .address {
  padding-left: 40px;
  width: 50%;
  font-size: 12px;
  color: #333;
  white-space: nowrap;
}
#contact3 .qrcode-box {
  padding: 40px 0;
  border-top: 1px solid #333;
  margin-top: 40px;
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: space-between;
  color: #333;
}
#contact3 .qrcode-box .text {
  padding-top: 0;
}
#contact3 .qrcode-box .title {
  font-size: 26px;
}
#contact3 .qrcode-box .contact-text {
  font-size: 19px;
  line-height: 2;
}
#contact3 .qrcode-box .contact-text p {
  margin: 0;
}
@media (max-width: 768px) {
  #nav .navbar-nav > li .childs a {
    text-align: right;
  }
  #contact3 .office .name {
    font-size: 20px;
    width: 35%;
  }
  #contact3 .office .address {
    width: 65%;
    padding-left: 20px;
  }
  #contact3 .qrcode-box {
    flex-wrap: wrap;
  }
  #footer3 .office {
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
  }
  #footer3 .office .box {
    padding-top: 15px;
  }
  #footer3 .office .box .border-bottom {
    padding-bottom: 15px;
  }
  #footer3 .office .box .title {
    font-size: 12px;
    border-bottom: none;
    padding-bottom: 0;
    padding-top: 0;
  }
  #footer3 .office .box .address {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 0;
  }
  #footer3 .office .box .row {
    margin: 0 -12px;
  }
  #footer3 .office .box .row .col-xs-4 {
    padding: 0 12px;
  }
  #footer3 .office .box .row .col-xs-4:nth-child(2) {
    border-left: 1px solid #595959;
    border-right: 1px solid #595959;
  }
  #footer3 .mobile-contact-content {
    border-top: 3px solid #595959;
    border-bottom: 3px solid #595959;
    margin-top: 30px;
    color: #595959;
  }
  #footer3 .mobile-contact-content .item {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #footer3 .mobile-contact-content hr {
    margin: 0;
    border-top-color: #595959;
  }
  #footer3 .qrcode_mobile {
    padding: 20px 0;
    border-bottom: 3px solid #595959;
  }
  #footer3 .copyright {
    margin-top: 0;
    border-top: none;
    padding: 20px 0;
    text-align: center;
    justify-content: center;
    border-bottom: 3px solid #595959;
    margin-bottom: 30px;
  }
  #footer3 .copyright .text {
    text-align: center;
  }
}
